.footbar-card{
  background-color: black;
  height: 80px;
  bottom: 0px;
  box-shadow:0px -9px 17px -4px rgba(0,0,0,0.65);
  border-top-style: solid;
  color: white;
  border-top: 1px solid #303030;
  z-index: 1000000000000000;
  > a {
    flex: 1 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.active, &:hover {
      color: $red;
      p {
        color: $red !important;
      }
    }
    p {
      margin: 0;
    }
  }
}

.icon-movie{
  padding:10px;
  text-align: center;
  color: white;
}

.icon-group{
  padding: 10px;
  padding-left: 21px;
  text-align: center;
  color: white;
}



.icon-user{
  padding: 10px;
  padding-right: 30px;
  color: white;
}

.text-white{
  color: white;
}
