.footbar-card{
  background-color: black;
  height: 80px;
  bottom: 0px;
  box-shadow:0px -9px 17px -4px rgba(0,0,0,0.65);
  border-top-style: solid;
  color: white;
}

.icon-movie{
  padding:10px;
  text-align: center;
  color: white;
}

.icon-group{
  padding: 10px;
  padding-left: 21px;
  text-align: center;
  color: white;
}



.icon-user{
  padding: 10px;
  padding-right: 30px;
  color: white;
}

.text-white{
  color: white;
}
