.footbar-card{
  background-color: white;
  height: 80px;
  position:sticky;
  bottom: 0px;
  border-radius:2px -8px 15px -5px rgba(0,0,0,0.54);
  border-top-style: solid;
  border-color: lightgrey;
  
}

.icon-movie{
  padding:10px;
  padding-left: 30px;
}

.icon-group{
  padding: 10px;
  text-align: center;
}



.icon-user{
  padding: 10px;
  padding-right: 30px;
}
