// Specific CSS for your home-page


.home-title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #050280;
  margin-right: 20px;
  margin-left: 20px;
}

.movie-card{
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 3px 15px -5px rgba(0,0,0,0.54);
  min-height: 200px;
  position: relative;
}

.movie-card:hover{}

.suggestion-bar{
  font-size: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.sorties-semaine-bar{
  font-size: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.suggestion-bar:target{color: black;}

.btn-blue{
  background-color: #050280;
  color:white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.movie-image{
  margin-right: 10px;
}




.movie-title{
  font-size: 25px;
  font-weight:bold;
  color: black;
  margin-bottom: 5px;
}

.movie-details{
  padding: 10px;
  width: 100%;
}

.detail-infos{
  height: 100px;
}



a{
  text-decoration: none;
  color: black;
}

#genre-tag{
  background-color: green;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  right: auto;
  bottom: 12px;
  width: auto;
}



.movie-details p{
  margin-bottom: 2px;
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-size: 15px;
}

.suggestion-bar{

}


input[type="radio"]{
  background: red;
  display: block !important;
}

input[type="radio"]:checked{
  display: none !important;
}

.movie-image img {
  height: 100%;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: auto;
  max-width: 130px;
}

#market-rating{
  position: absolute;
  bottom: 17px;
  right: 37px;
}

#details-date-duration{
  position: absolute;
  bottom: 56px;
  right: 147px;
}
