.synospis-text{
  font-size: 12px;
  margin-top: 5px;
  padding: 10px;
}


.movie-show-image img {
  height: 100%;
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  width: auto;
  max-width: 130px;
}

// Specific CSS for your home-page


.home-title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #050280;
  margin-right: 20px;
  margin-left: 20px;
}

.movie-card{
  background-color: white;
  margin: 10px;
  margin-bottom: 20px;
  min-height: 200px;
  position: relative;
  border-bottom: solid lightgrey 3px;
}


.btn-blue{
  background-color: #050280;
  color:white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.movie-image{
  margin-right: 10px;
}




.movie-title{
  font-size: 25px;
  font-weight:bold;
  color: black;
  margin-bottom: 20px;
  padding-top: 10px;

}

.movie-details{
  padding: 10px;
  width: 100%;
}

.detail-infos{
  height: 100px;
}



a{
  text-decoration: none;
  color: black;
}

.genre-tag{
  background-color: green;
  font-size: 18px;
  color: white !important;
  text-transform: lowercase;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  bottom: 12px;
  width: auto;
  &.documentaire{
    background-color: #ff58b6;
  }
  &.thriller{
    background-color: #ff8f68;
  }
  &.comédie{
    background-color: #ffd35f;
  }
  &.drame{
    background-color: #05541e;
  }
  &.action{
    background-color: #bb6621;
  }
  &.horreur{
    background-color: #6d0000;
  }
  &.animation{
    background-color: #912000;
  }
  &.histoire{
    background-color: #0076ff;
  }
  &.music{
    background-color: #14238b;
  }
  &.romance{
    background-color: #8c4c38;
  }
  &.crime{
    background-color: #343c4c;
  }
}




.movie-details p{
  margin-bottom: 2px;
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-size: 15px;

}



.movie-image img {
  height: 100%;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  width: auto;
  max-width: 130px;
}

.market-rating{
  font-size: 18px;
}

// #details-date-duration{
//   position: absolute;
//   bottom: 56px;
//   right: 147px;
// }


.suggestion-bar{
  font-size: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.selected-movies-title{
  font-weight: bolder !important;
  border-bottom: #050280 solid 3px;
}

.sorties-semaine-bar{
  font-size: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.suggestion-bar:target{color: black;}



input[type="radio"]{
  background: red;
}

input[type="radio"]:checked{
}

.hidden-div{
  display: none;
}

.group-text-movie{
font-size: 18px;
}
