.synospis-text{
  font-size: 12px;

  padding: 8px;
}


.movie-show-image img {
  height: 100%;
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  width: auto;
  max-width: 130px;
}

// Specific CSS for your home-page


.home-title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.movie-card{
  background-color: #303030;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 195px;
}

.movie-card-show{
  background-color: #303030;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 150px;
  p {
    margin-bottom: 0;
  }
}

.btn-blue{
  background-color: white;
  color:white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.movie-image{
  margin-right: 10px;
}




.movie-title{
  font-size: 20px !important;
  font-weight:bold;
  color: white;
  text-align: center;
  align-items: center;
}

.movie-details{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  color: white;
  flex-grow: 1;
}

.detail-infos{
  height: 100px;
}



a{
  text-decoration: none;
  color: white;
}

.genre-tag{
  background-color: green;
  font-size: 18px;
  color: white !important;
  text-transform: lowercase;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  padding: 5px;
  bottom: 12px;
  width: fit-content;
  align-items: center;
  &.documentaire{
    background-color: #ff58b6;
  }
  &.thriller{
    background-color: #ff8f68;
  }
  &.comédie{
    background-color: #ffd35f;
  }
  &.drame{
    background-color: #05541e;
  }
  &.action{
    background-color: #bb6621;
  }
  &.horreur{
    background-color: #6d0000;
  }
  &.animation{
    background-color: #912000;
  }
  &.histoire{
    background-color: #0076ff;
  }
  &.music{
    background-color: #14238b;
  }
  &.romance{
    background-color: #8c4c38;
  }
  &.crime{
    background-color: #343c4c;
  }
}




.movie-details p{
  text-decoration: none;
  color: white;
  font-size: 15px;

}



.movie-image img {
  height: 100%;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  width: auto;
  max-width: 130px;
}

.market-rating{
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

// #details-date-duration{
//   position: absolute;
//   bottom: 56px;
//   right: 147px;
// }


.suggestion-bar{
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.selected-movies-title{
  font-weight: bolder !important;
  border-bottom: $red solid 3px;
}

.sorties-semaine-bar{
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.suggestion-bar:target{color: black;}



input[type="radio"]{
  background: red;
}

input[type="radio"]:checked{
}

.hidden-div{
  display: none;
}

.group-text-movie{
font-size: 18px;
}

.font-size-user{
  font-size: 20px;
}

.nb-cinema{
  font-size: 14px !important;
  font-style: italic;
}

.details-row25{
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}

.details-row50{
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.user-join{
  display: flex;
  align-items: center;
}

.user-join, .market-rating {
  i {
    margin-right: 0.3rem;
  }
}

#movie-title-show{
  color: white;
  font-weight: bold !important;
  font-size: 18px !important;
  margin-bottom: 5px;
}

.nav-link.home-title.active{
  border: none;
  border-bottom: $red solid 5px !important;
  background-color: black;
  text-decoration: none;
  color: $red;
}

.nav-link.home-title p{
  p {
    margin-bottom: 0;
  }
}

.nav-link {
  border: none !important;
}

.movie-nav-tabs {
  padding: 0 1.5rem;
  border-color: rgb(126,126,126);
  li {
    margin-bottom: -2px;
  }
  button, button:hover, button:focus, button:visited, button:active {
    border: none !important;
  }
}

.movie-tab {
  padding: 0.8rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 0.8em;
    margin-top: 0.2rem;
  }
}

.review-title{
  margin-top: 10px;
  font-size: 20px;
}

.sharing-card-movie-show{
  height: 140px;
  background-color: #303030;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;

  p {
    margin-bottom: 0;
  }
}
