.sharing-card{
  background-color: white;
  margin: 10px;
  min-height: 200px;
  border-bottom: solid lightgrey 2px;
  padding: 10px 0;
  margin-bottom: 30px;
}

.sharing-image {
  position: relative;
}

.sharing-image .movie-img {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.sharing-image .avatar {
  position: absolute;
  top: -20px;
  right: -20px;

  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.sharing-infos {
  width: 100%;
  & p {
    margin-bottom: 0;
  }
  & .title {
    font-weight: bold;
    margin: 0;
    text-transform: lowercase;
  }
}

.sharing-icon {
  font-size: 27px;
  & span {
    font-size: 18px;
  }
}

.comment{
  font-style: italic;
  font-size: 16px ;
  font-weight: 300;
}

.seance-bar-sharing{
  margin-bottom: 10px;
  color:#050280 ;
  border-bottom: solid #050280 2px ;
}
