.sharing-card{
  background-color: #303030;
  margin: 10px;
  color: white;
  width: 90vw;
  height: 215px;
  margin: 15px auto;
  border-radius: 10px;
}

.sharing-card-chatroom {
  background-color: black;
  margin: 10px;
  color: white;
  min-height: 200px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.sharing-image {
  position: relative;
}

.sharing-image .movie-img {
  width: 125px;
  height: 215px;
  object-fit: cover;;
}

.sharing-image-feed {
  width: 203px;
  height: 215px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.sharing-image .avatar {
  position: absolute;
  top: -20px;
  right: -20px;

  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.sharing-infos {
  width: 100%;
  padding-top: 2px;
  & p {
    margin-bottom: 0;
  }
  & .title {
    font-weight: bold;
    margin: 0;
    text-transform: lowercase;
  }
}

.sharing-icon {
  font-size: 27px;
  & span {
    font-size: 18px;
  }
}

.comment{
  font-style: italic;
  font-size: 16px ;
  font-weight: 300;
  padding-left: 10px;
}

.seance-bar-sharing{
  margin-bottom: 10px;
  color:white ;
  border-bottom: solid #762121 2px ;
}

.btn-red{
  background-color: #762121;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.btn-participer{
  background-color: #762121;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
