<div class="footbar-card position-fixed w-100 d-flex align-items-stretch">
  <%= link_to sharings_path, class: "#{'active' if controller_name == 'sharings'}" do %>
    <i class="fa-sharp fa-solid fa-layer-group"></i>
    <p class="text-white">Feed</p>
  <% end %>
  <%= link_to movies_path, class: "#{'active' if controller_name == 'movies'}" do %>
    <i class="fa-sharp fa-solid fa-film"></i>
    <p class="text-white">Films</p>
  <% end %>
  <%= link_to user_path(current_user), class: "#{'active' if controller_name == 'users'}" do %>
    <i class="fa-solid fa-user"></i>
    <p class="text-white">Profil</p>
  <% end %>
</div>
