<div class="footbar-card position-sticky">
  <div class="icon-group d-flex justify-content-between">
    <div class="icon-movie">
      <i class="fa-sharp fa-solid fa-film"></i>
      <p>Films</p>
    </div>
    <div class="icon-group">
      <i class="fa-sharp fa-solid fa-layer-group"></i>
      <p>Feed</p>
    </div>
    <div class="icon-user">
      <i class="fa-solid fa-user"></i>
      <p>Profil</p>
    </div>
  </div>
</div>
