<div class="footbar-card position-fixed w-100">
  <div class="icon-group d-flex justify-content-between">
    <div class="icon-movie">
      <i class="fa-sharp fa-solid fa-film"></i>
      <p class="text-white"><%= link_to "Films", movies_path %></p>
    </div>
    <div class="icon-group">
      <i class="fa-sharp fa-solid fa-layer-group"></i>
      <p class="text-white"><%= link_to "Feed", sharings_path %></p>
    </div>
    <div class="icon-user">
      <i class="fa-solid fa-user"></i>
      <p class="text-white"><%= link_to "Profil", user_path(current_user) %></p>
    </div>
  </div>
</div>
