<div class="footbar-card">
  <div class="icon-group">
    <div class="icon-movie">
      <i class="fa-sharp fa-solid fa-film"></i>
    </div>
    <div class="icon-group">
      <i class="fa-sharp fa-solid fa-layer-group"></i>
    </div>
    <div class="icon-group">
      <i class="fa-solid fa-user"></i>
    </div>
  </div>
</div>
