.container-info-window {
  width: 100%;
  height: 100%;
}


.title-color {
  color: $primary;
  font-style: bolder;
  font-size: x-large;
}

.name-info-window {
  color: black;
  font-size: medium;
}

.location-info-window {
  color: black;
  font-size: small;
  font-style: oblique;
}

.modal-content-map {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  position: relative;
  bottom: -250px;
  padding: 22px;
}
