.container-info-window {
  width: 100%;
  height: 100%;
}


.title-color {
  color: white;
  font-style: bold;
  font-size: x-large;
}

.name-info-window {
  color: white;
  font-size: medium;
}

.location-info-window {
  color: white;
  font-size: small;
  font-style: oblique;
}

.modal-content-map {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  pointer-events: auto;
  background-color: #303030;
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  position: relative;
  bottom: -250px;
  padding: 22px;
}

.btn-red-red{
  background-color: $red;
  width: 100%;
  color: white;
  
}
