.container-info-window {
  width: 100%;
  height: 100%;
}


.title-color {
  color: white;
  font-size: x-large;
  font-size: 30px;
  font-weight: bold;
}

.name-info-window {
  color: white;
  font-size: medium;
}

.location-info-window {
  color: white;
  font-size: small;
  font-style: oblique;
  font-size: 15px;
}

.modal-content-map {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  pointer-events: auto;
  background-color: #303030;
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  position: relative;
  top: 80px;
  padding: 22px;
}

.btn-red-red{
  background-color: $red;
  width: 100%;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;

}

.session-selector + label{
  background-color: white;
  color: black;
  font-size: 15px;
  text-align: center;
}

.session-selector:checked + label {
  color: white !important;
  background-color: #d03838;
  border-color: #d03838;
}
