.modal-content-rating {
  border-radius: 10px !important;
  background-color:white !important;
}


.btn-modal {
  background-color: #762121 !important;
  color: white;
  border-radius: 10px !important;
}
