.navbar-card{
   background-color: #050280;
   height: 80px;
   color: white;
   padding-left: 20px;
   padding-top: 25px;
   box-shadow: 2px 3px 15px -5px rgba(0,0,0,0.54);
   margin-bottom: 10px;
   position: sticky;
   top:0px;
   z-index: 3;

}

h1{
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
}
