.navbar-card{
   background-color: black;
   height: 80px;
   color: white;
  //  padding-left: 20px;
  //  padding-top: 25px;
  //  box-shadow: 2px 3px 15px -5px rgba(0,0,0,0.54);
  //  margin-bottom: 10px;
   position: sticky;
   top:0px;
   z-index: 1000000000000000;
   display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  border-bottom: 1px solid #303030;
}

h1{
  position: relative;
  top: 5px;
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
}
