.card-reviews {
  border-color: white;
  border: solid 2px;
  border-radius: 5px;
  padding: 7px;
  margin: 15px;
  background-color: #31303085
}

.card-reviews p {
  margin-top: 0;
  margin-bottom: 0rem
}
