.session-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.session-item {
  flex: 0 0 30%;
}

.session-selector {
  position: absolute;
  transform: scale(0);
}

.session-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.session-selector:checked + label {
  color: white !important;
  background-color: $primary;
}
